<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386940933207-vb2fdq5i9pf6pr89u69bgvnro9v2cvs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386940933207-vb2fdq5i9pf6pr89u69bgvnro9v2cvs4</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyCJHcBvT9TQkHzNVCxAbecXrIpNf4nS-Hk</string>
	<key>GCM_SENDER_ID</key>
	<string>386940933207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.login</string>
	<key>PROJECT_ID</key>
	<string>login-c021f</string>
	<key>STORAGE_BUCKET</key>
	<string>login-c021f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:386940933207:ios:35fc5dc57d9828190c3f12</string>
</dict>
</plist>
